$backgroundColor: #f9f9f9;

.button{

  margin: auto;
  width: 319px;
  height: 50px;
  border-radius: 8px;
  background-color: #19b7e1;

}

.button span {
    display: block;
    padding-top: initial;
    text-align: center;
}

.password {
  margin: auto;
  color: #69b7df;
  margin-top: 10px
}
