@import 'bootstrap/scss/bootstrap.scss';
@import './_variables';
@import './_signin';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $backgroundColor;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $backgroundColor;
}
